.env
venv
.venv
**.npy
**.pqt
**.err
raw
processed
pipeline_logs
__pycache__
**.egg-info
wandb/
logs/
results/
**/ckpt/**
**/outputs/**
**/embs/**
**.h5
build/
docs/build/
docs/source/generated/
predictions/
uv.lock
cache
dist/
